db.connection-string=jdbc:mysql://my_endpoint:1234/MyDbName
db.username=my_username
db.password=super_secret_password

token.public-key-path=public-key.path
token.private-key-path=private-key.path
token.signing-key-size=1
