nomic.dbEndpoint=my_endpoint
nomic.dbUsername=my_username
nomic.dbPassword=super_secret_password
nomic.dbPort=1234
nomic.dbName=MyDbName

token.public-key-path=public-key.path
token.private-key-path=private-key.path
token.signing-key-size=1